<div ng-controller="EditController">
    <form ng-show="isEditable()">
        <fieldset>
            <div class="form-group">
                <label for="name">Name</label>
                <input id="name" type="text" ng-model="edit.music.Name" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="name">Singer</label>
                <input id="name" type="text" ng-model="edit.music.Singer" class="form-control" required />
            </div>
            <button class="btn btn-primary" ng-click="save()">Save</button>
            <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
        </fieldset>
    </form>
</div>
